@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mocup-color: #e0e0e0; /* Lighter for a softer appearance */
  --mocup-color-2: #f7f7f7; /* Even lighter for sections */
  --tool-bar-width: 300px; /* Fixed width for toolbar */
  --workspace-width: 1000px; /* Fixed width for toolbar */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #f0f0f0;
    --mocup-color: #3a3a3a; /* Darker for contrast */
    --mocup-color-2: #4a4a4a; /* Darker for sections */
  }
}

* {
  box-sizing: border-box; /* Include padding and border in width and height */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif; /* Updated font family */
  margin: 0; /* Remove default margin */
}

body > #main {
  display: flex; /* Use flexbox for layout */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Hide overflow for main container */

  > header {
    height: var(--header-height); /* Fixed height for header */
    display: flex; /* Center contents */
    align-items: center;
    justify-content: center;
    font-weight: bold; /* Enhanced header text */
  }

  > main {
    display: flex; /* Use flexbox for workspace and toolbar */
    /* flex: 1; Allow main to fill available space */
    
    #tool-bar {
      width: var(--tool-bar-width);
      background-color: rgb(221, 232, 236); /* Use a defined blue color */
      height: var(--tool-bar-height); /* Fixed height */
      display: grid;
      grid-template-rows: 1fr 50px; /* You can adjust this based on your toolbar structure */
      padding: 1rem; 
      border-bottom-right-radius: 20px; /* Rounded corners */
      border-top-right-radius: 20px; /* Rounded corners */
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Shadow for toolbar */
    }
    #matrix-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
      gap: 2rem;
      padding: 2rem;
    }
    #workspace {
      flex: 1; /* Allow workspace to fill remaining space */
      background-color: rgb(255, 255, 255);
      padding: 1rem; /* Padding for workspace */
      overflow-y: auto; /* Enable vertical scrolling */
      width: var(--workspace-width);

    }
  }
}

/* Button Styles */
.button {
  background-color: rgb(199, 221, 228); /* Light blue */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgb(85, 160, 190); /* Darker blue on hover */
}

.button.red {
  background-color: rgb(255, 82, 82); /* Soft red */
}

.button.red:hover {
  background-color: rgb(255, 65, 65); /* Darker red on hover */
}